@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li, a {
    text-decoration: none;
    position: relative;
}

.subheader {
    font-size: 22px;
    font-weight: 400;
    color: #519B84;
    letter-spacing: 5px;
}

body{
    width: 100vw;
    overflow-x: hidden !important;
    }

    ::-webkit-scrollbar {
        width: 8px;
     
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #D5B484;
        border-radius: 50px;
    }

/* HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    padding: 0 10%;
}

.column {
    padding: 10px;
}

.logo {
    width: auto;
    margin-right: 10px;
}

.header-logo {
    width: 200px;
    transition: all .2s ease-in-out; 
}

.header-logo:hover {
    transform: scale(1.1); 
}

.search {
    width: 40%;
    margin: 0 5px;
}

input[type="text"]{
    border: none;
    outline: none;   
    width: 339px;
}

.search-box {
    display: flex;
    width: 30vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F0F0F0;
    border-radius: 50px;
    padding: 15px 30px;
}

.login-cadastro {
    width: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.login-cadastro > a {
    margin-right: 10px;
    color: #000000;
}

.login-cadastro > a:after {   
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #D5B484;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.login-cadastro > a:hover:after { 
    width: 100%; 
    left: 0; 
}

.account-icon {
    transition: all .2s ease-in-out; 
}

.account-icon:hover {
    transform: scale(1.1); 
}

/* NAVIGATION MENU */

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 70px;
}

.main-menu > li > a {
    position: relative;
    padding: 5px 10px;
    color: #000000;
}

.main-menu > li > a:after {    
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #D5B484;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.main-menu > li > a:hover:after { 
    width: 100%; 
    left: 0; 
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #EDEAE3;
    padding-top: 35px;
    padding-bottom: 300px;
    display: flex;
    padding-left: 5%;
}


.container{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
}


.direita-login{
   padding-left: 4%;
   padding-right: 5%;
}



.img-login{
    width: 27vw;
    height: 75.9vh;
    padding-left: none;
    padding-right: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 28px;
    padding-top: 5px;
    
    
}
.input-box{
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;   
}

h1{
    font-size: 2.1vw;
    width:28vw;
    padding-bottom: 10%;
    text-decoration: none;
    font-weight: 500;
    font-family: 'poppins';
    color: #3B506B;
    align-content: center;
    padding-left: 6%;
    padding-right: 6%;
}

input[type="email"]{
    border: none;
    outline: none; 
    background-color: #F1F1F1;
    border-radius: 10px;  
    width: 27vw;
    height: 5vh;  
    padding-left: 3%; 
    padding-right: 3%;
}

input[type="password"]{
    border: none;
    outline: none; 
    background-color: #F1F1F1;
    border-radius: 10px;  
    width: 27vw;
    height: 5vh;
    padding-left: 3%;
    padding-right: 3%;
    
}

.input-box input:hover{
    background-color: #e7e6e6;
}


.input-box input:focus-visible{
    outline: 2px solid #519b84;
}

.input-box input::placeholder{
    color: #3b506b ;
    font-weight: 400;
}

label{
    text-decoration: none;
    font-family: 'poppins';
    color: #3B506B;
    font-weight: 400;
}

.botoes{
    text-decoration: none;
    align-items: center;
    align-content: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    display: flex;
    flex-direction: row;  
    cursor: pointer;  
}

.btn-entrar{
    width: 11vw;
    height: 3.7vh;
    border-radius: 10px;
    border: none;
    background-color: #519B84;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 1vw;
    
} 

.btn-cadastrar{
    width: 11vw;
    height: 3.7vh;
    border-radius: 10px;
    border-color: #3B506B;
    color: #3B506B;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    font-size: 1vw;
}

button{
    margin-right: 1vw;
}


.btn-entrar:hover{
    background-color:#3b6e5e;

}

.btn-cadastrar:hover{
        color: #fff;
        background-color: #3b506b ;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
       
    }
    
h4{
    text-decoration: none;
    font-family: 'poppins';
    font-weight: 400;
    color: #519B84;
    padding-top: 18%;
    padding-left: 24%;
    padding-right: 20%;
    font-size: 1.1vw;
}

.footer-content{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.column-logo{
    display: flex;
    margin: 5%;
}

.column-search{
    display: flex;
    padding-left: 42%;
}




/* COPYRIGHT */

.copyright {
    background-color: #519B84;
    text-align: center;
    padding: 15px 0;
    width: 100vw;
    height: 7vh;
}

.copyright > p {
    color: #fff;
}

/* BACK TO TOP ICON */

.back-to-top {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 0;
}

.back-to-top > img {
    width: 80%;
}


@media screen and (max-width: 950px){
    .container {
       width: 90%;
       margin-left: 10%;
       margin-right: 10%;}
    .img-login{
        width: 43vw;
        padding-right: 10%;
    }  
    input[type="email"]{
        width: 29vw; 
    }
    
    input[type="password"]{
        width: 29vw;   
    }
    .direita-login{
        padding-left: 1%;
        padding-right: 8%;
    }

    .btn-entrar{
        font-size: 12px;
    }

    .btn-cadastrar{
        font-size: 12px;
    }
    h1{
        font-size: 21px;
    }
    h4{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px){

}