@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* GLOBAL STYLR */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
    position: relative;
}

.subheader {
    font-size: 22px;
    font-weight: 400;
    color: #519B84;
    letter-spacing: 5px;
}

h1 {
    font-size: 68px;
    font-weight: 600;
    color: #3B506B;
    margin: 20px 0;
}

h2 {
    font-size: 54px;
    font-weight: 500;
    color: #3B506B;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    color: #3B506B;
    padding: 10px 0 20px 0;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #3B506B;
}

.btn-filled {
    background-color: #519B84;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.btn-filled:hover {
    background-color: #D5B484;
    transition: 300ms;
    transform: scale(1.1);
}

.btn-border-only {
    background-color: transparent;
    color: #519B84;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 40px;
    border: 1px solid #519B84;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.btn-border-only:hover {
    border: 1px solid #D5B484;
    color: #D5B484;
    transition: 300ms;
    transform: scale(1.1);
}

.btn-smaller-border-only {
    background-color: transparent;
    color: #3B506B;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 40px;
    border: 1px solid #3B506B;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.btn-smaller-border-only:hover {
    border: 1px solid #D5B484;
    color: #D5B484;
    transition: 300ms;
    transform: scale(1.1);
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    padding: 0 10%;
}

.column {
    padding: 10px;
}

.logo {
    width: auto;
    margin-right: 10px;
}

.header-logo {
    width: 200px;
    transition: all .2s ease-in-out;
}

.header-logo:hover {
    transform: scale(1.1);
}

.search {
    width: 40%;
    margin: 0 5px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F0F0F0;
    border-radius: 50px;
    padding: 15px 30px;
}

.login-cadastro {
    width: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.login-cadastro>a {
    margin-right: 10px;
    color: #000000;
}

.login-cadastro>a:after {
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #D5B484;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.login-cadastro>a:hover:after {
    width: 100%;
    left: 0;
}

.account-icon {
    transition: all .2s ease-in-out;
}

.account-icon:hover {
    transform: scale(1.1);
}

/* NAVIGATION MENU */

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 70px;
}

.main-menu>li>a {
    position: relative;
    padding: 5px 10px;
    color: #000000;
}

.main-menu>li>a:after {
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #D5B484;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.main-menu>li>a:hover:after {
    width: 100%;
    left: 0;
}

/* CONTATO */


.container-contato {
    color: #3B506B;
    background-color: #EAEAEA;
    border-radius: 10px;
    padding: 2%;
    width: 950px;
    position: relative;
    margin: 0 auto;

}

.titulo {
    font-size: 40px;
}

.paragrafo {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
}

.contato-telegram {
    float: right;
    width: 35%;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    font-size: 15px;
}

a {
    color: #3B506B;
    text-decoration: none;
}

.capa {
    display: grid;
    float: right;
}

fieldset {
    border: none;
}

.form_personalInformation {
    margin-top: 2%;
}

input {
    text-align: left;
    margin-bottom: 5px;
    margin: 0 auto;

}

.nome,
.email,
.assunto,
.mensagem {
    background-color: #F5F5F5;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 6px 5px 20px 0px;
    width: 500px;
}

textarea {
    resize: none;
    width: 200px;
    height: 100px;
}

.btn-reset {
    background-color: #F5F5F5;
    color: #3B506B;
    font-size: 1.2em;
    font-weight: 500;
    padding: 2px 40px;
    border: 1px solid #4d4e50;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.btn-reset:hover {
    background-color: #D5B484;
    transition: 300ms;
    transform: scale(1);
}

.btn-submit {
    background-color: #519B84;
    color: #ffffff;
    margin: 0 5%;
    font-size: 1.2em;
    font-weight: 500;
    padding: 2px 40px;
    border: none;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.btn-submit:hover {
    background-color: #D5B484;
    transition: 300ms;
    transform: scale(1);
}

.btn-container {
    margin-top: 20px;
}

/* RODAPÉ */

.footer-container {
    margin: auto;
    padding: 80px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

/* COPYRIGHT */

.copyright {
    background-color: #519B84;
    text-align: center;
    padding: 15px 0;
}

.copyright>p {
    color: #fff;
}

/* BACK TO TOP ICON */

.back-to-top {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 0;
}

.back-to-top>img {
    width: 80%;
}