@charset "UTF-8";


/* Device Breakpoints
----------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/



/* Configurações para tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    section#esqsenha {
        width: 80vw;
        height: 250px;
    }


    section#esqsenha>div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }


    section#esqsenha>div#formulario {
        float: right;
        width: 70%;
        margin: 10px 0px;
    }
    

}


/* Configurações para desktop */

@media screen and (min-width: 992px) {
    section#esqsenha {
        width: 950px;
        height: 250px;
    }
    

    section#esqsenha>div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

 
    section#esqsenha>div#formulario {
        float: right;
        width: 50%;
        height: 100%;
    }


   div#formulario>h1{
    text-align: center;
    margin-bottom: 10px;
   }


    div#formulario>p{
        text-align: center;
        font-size: 0.8em;
        margin: 10px 0px;
    }


}