@charset "UTF-8";


/* Device Breakpoints
----------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/


@media screen and (min-width: 768px) and (max-width: 992px) {
    section#esqsenha {
        width: 80vw;
    }


    section#esqsenha>div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }


    section#esqsenha>div#formulario {
        float: right;
        width: 70%;
    }
    

}


@media screen and (min-width: 992px) {
    section#esqsenha {
        width: 950px;
    }
    

    section#esqsenha>div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

 
    section#esqsenha>div#formulario {
        float: right;
        width: 50%;
        height: 100%;
    }


}