*{
    font-family: 'Poppins';
    color: #3B506B;
    
}
body{
   background-color: antiquewhite;
   min-width: 100vw;
   min-height: 100vh;
   margin-top: 5px;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
}

header{
    z-index:1;
    background-color: white;
    width: 1440px;
    height: 151px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.iconPesquisar{
    position: absolute;
    left: 880px;
    top:45px;
}

.logoPlanty{
    position: absolute;
    left: 10px;
}

.inputPesquisar{
    text-align: center;
    outline: none;
    font-size: 20px;
    position: absolute;
    height: 80px;
    width: 506px;
    border: 1px solid #3B506B;
    border-radius: 50px;
}

.inputPesquisar::placeholder{
    position: absolute;
    top: 27px;
    left: 30px;
    
    
}

.loginCadastro{
    
    display: flex;
    position: absolute;
    right: 10px;
    align-items: center;
}


nav{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 70px;
    top: 150px;
    margin-top: 8px;
    background-color: white;
}


.navMenu{
    align-items: center;
    display: flex;
    list-style-type: none;
}


.li{
    padding: 65px;
}

a{
    color: #3B506B;
    text-decoration: none;
}
a:active{
    color: transparent;
    text-decoration: none;
}


li>a:focus{
    
    text-decoration: underline;
    transition: 2s;
}


li>a:active{
color: transparent;
}


.form-esqsenha{
    width: 420px;
    margin: auto;
    padding-top: 200px;

}


.card{
    box-shadow: 1px 1px 5px gray;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 5px;

}


.card-top{
    text-align: center;

}


.imageesq{
    width: 160px;
    height: 160px;
    }


.card-group>label{
    width: 100px;
    display: block;
    margin-bottom: 5px;
    font-family:'montserrat';
    padding-left: 10px;
}


.card-group>input{
    width: 335px;
    border-radius: 50px;
    outline: 0px;
    height: 15px;
    padding: 10px;
    border: 2px solid gray;
    margin-bottom: 10px;
}



