@media screen and (max-width: 950px) {
    .subheader {
        font-size: 18px;
    }
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 38px;
    }
    
    /* HERO SECTION */
    .hero-section {
    height: 500px;
    background-position: right;
    background-image: linear-gradient(0deg, rgba(233, 233, 233, 0.8), rgba(233, 233, 233, 0.8)), url("img/Hero-Image.png");
    }
    
    .hero-content {
        text-align: center;
        top: 80px;
        left: 0;
        transform: none;
        padding: 0 100px;
    }
    
    .hero-box {
        padding: 0;
    }
    
    .hero-text {
        padding-right: 0;
    }
    
    .hero-buttons {
        justify-content: center;
    }
    
    /* CATEGORIAS */
    .categories-box {
        flex-wrap: wrap;
    }
    
    .categories-box-item > img {
        width: 70%;
    }
    
    /* CONTEÚDOS EM DESTAQUE */
    .blog-box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .blog-box-item>img {
        width: 70%;
    }
    
    /* BACK TO TOP ICON */
    
    .back-to-top {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 50px;
    }
    }
    
    @media screen and (max-width: 600px) {
    
    /* GlOBAL */
    * {
        max-width: 100px;
    }
    
    h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    /* HERO SECTION */
    .hero-section {
        height: 600px;
    }
    
    .hero-content {
        left: 0;
        top: 100px;
        transform: none;
        padding: 0 30px;
    }
    
    .hero-text {
        margin-bottom: 30px;
    }
    
    .hero-buttons {
        flex-wrap: wrap;
    }
    
    /* CONTEÚDOS EM DESTAQUE */
    
    .blog-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 50px;
        padding: 0 50px;
    }
    
    .blog-box-item>img {
        width: 50%;
        }
    }
    
    
    
    @media screen and (max-width: 425px) {
    
    .main-menu {
        padding: 1.5rem 4rem;
        display: none;
    }
    
    .login-cadastro {
        display: none;
    }
    
    .menu-btn {
        display: block;
        cursor: pointer;
    }
    
    .burger {
        position: relative;
        right: 65px;
    }
    
    .menu-btn,.header-logo {
        position: relative;
        bottom: 20px;
    
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu li {
        display: block;
        padding-top: 1.2rem;
    }
    
    .open {
        display: block;
    }
    
    /* HEADER */
    
    .header-container {
        display: flex;
        justify-content: space-between;
        height: 180px;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
        padding: 0 10%;
        background-color: white;
    }
    
    .column {
        padding: 10px;
    }
    
    .logo {
        
        width: auto;
        margin-right: 10px;
    }
    .logo_planty{
        width: 200px;
    }
    
    .header-logo {
        width: 135px;
        transition: all 0.2s ease-in-out;
        position: relative;
        left: 45px;
    }
    
    .header-logo:hover {
        transform: scale(1.1);
    }
    
    .search {
        width: 40%;
        margin: 0 5px;
        margin-right: 10px;
    }
    
    .imglupa{
    position: relative;
    left: 50px;
    }
    
    .column_search{
        position: relative;
        bottom: 90px;
        left: 92px;
    }
    
    .search-box {
        width: 250px;
        border: 1px solid #f0f0f0;
        border-radius: 50px;
        margin: 0 0px;
        position: absolute;
        top: 110px;
        right: 85px;
        height: 60px;
    }
    
    #txtBusca {
        font-size: 15px;
        border: none;
        width: 40%;
        position: relative;
        height: 65px;
        left: 34px;
        background: transparent;
        outline: none;
    }
    
    #search-image {
        margin-bottom: -7px;
        margin-left: 45px;
        width: 30px;
    }
    
    .back-to-top {
        position: relative;
        bottom: 103px;
        float: right;
        right: 0;
        width: 50px;
        padding-right: 15px;
    }
    
    /* CONTEÚDOS EM DESTAQUE */
    
    .blog-section {
        background-color: #f0f0f0;
        padding: 80px 0;
    }
    
    .blog-content {
        display: block;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        max-width: 1440px;
        margin: auto;
        text-align: center;
    }
    
    .blog-box {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 0 8%;
        gap: 50px;
    
    }
    
    .blog-box-item>img {
        width: 100%;
    }
    
    .blog-box-item>a {
        font-size: 12px;
    
    }
    
    .blog-box .btn-smaller-border-only{
        top: -10px;
    
    }
    
    .blog-box-item>h3 {
        font-size: 12px;
    }
    
    .blog-content>h2 {
        font-size: 25px;
    }
    
    /* Duvidas? */
    
    .contact-box-button>a {
        text-align: center;
    }
    }
    
    
    
    
    
    
    
    
      /* Mobile Menu */
      /*   
      .menu-btn {
        display: none;
        color: #3B506B;
      }
      
      .mobile-menu {
        background-color: white;
        display: none;
      }
      
      .mobile-menu a {
        color: #000000;
      }
    
    */