
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins';
    color: #000000;
    
    
}
body{
    background-color: #F0F0F0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
   min-width: 100vw;
   min-height: 100vh;
   height: 3000px;
   margin-top: 5px;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
}

::-webkit-scrollbar{
    width: 8px;
}
  
::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 50px;
}

.textLogin:hover{
    transform: scale(1.1); 
    transition: 0.5s;

}

header{
    z-index:1;
    background-color: white;
    width: 100vw;
    height: 151px;
    display: flex;
    position: absolute;
    
    align-items: center;
    justify-content: center;
}

.iconPesquisar{
    position: absolute;
    left: 1530px;
    top:45px;
}
.iconPesquisar:hover{
    transform: scale(1.1); 
    transition: 0.5s;
    
}

.logoPlanty{
    position: absolute;
    left: 250px;
}
.logoPlanty:hover{
    
    transform: scale(1.1); 
    transition: 0.5s;
}

.inputPesquisar{
    text-align: center;
    outline: none;
    font-size: 20px;
    position: absolute;
    height: 50px;
    width: 706px;
    border: 1px solid #F0F0F0;
    border-radius: 50px;
}

.inputPesquisar::placeholder{
    position: absolute;
    top: 12px;
    left: 30px;
    
}

.loginCadastro{
    
    display: flex;
    position: absolute;
    right: 200px;
    align-items: center;
}

.iconLogin{
    position: absolute;
    left: 130px;
   
}
.iconLogin:hover{
    position: absolute;
    left: 130px;
    transform: scale(1.1); 
    transition: 0.5s;
   
}


nav{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70px;
    top: 151px;
    margin-top: 8px;
    background-color: white;
}
ul {
    position: relative;
    
    bottom: 16px;

    list-style-type: none;
}


.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70px;
}

.navMenu > li > a {
    position: relative;
    padding: 5px 10px;
    color: #000000;
}

.navMenu > li > a:after {    
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #D5B484;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navMenu > li > a:hover:after { 
    width: 100%; 
    left: 0; 
}


.li{
    padding: 65px;
}

a{
    color: #3B506B;
    text-decoration: none;
}
a:active{
    color: transparent;
    text-decoration: none;
}



   



section{
    color: #3B506B;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height:100vh;
   
   
    
}

.containerCarousel{
    display: flex;
    position: relative;
}

.carrossel1{
    display: flex;
    flex-direction: column;
}
.carrossel{

    display: flex;
    position: relative;
    
   top: 300px;
   padding: 50px;
    
}

.tituloPlantas{
   position: absolute;
   bottom: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    font-weight: 900;
  
}
.tituloPlantas:hover{
  background-color: #3B506B;
  color: white;
  transition: 0.5s;
}

.planta{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.saibaMais{
    border: 1px solid #3B506B;
    border-radius: 50px;
    padding: 10px;
}
.saibaMais:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 10px;
}

.plantas_imagens:hover{
    
    background-color: white;
    padding: 2px;
    border-radius: 20px;
    border: white 7px solid;
    cursor: pointer;
    width: 268px;
    height: 338px;
    transition: 0.2s;
}


main{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 2500px;
    background-color: #8d7234;
    top: 900px;
    position: absolute;
    z-index: 2;
    overflow-y: scroll;
}


footer{
    position: absolute;
    top: 3400px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 290px;
    z-index: 5;
}

.footerUp{
    
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 220px;
    background-color: white;
}
.imgFooter{
    padding-right: 500px;
    z-index: 10;
    width:209px;
    height:66px ;
}

.inptFooter{
    
    text-align: center;
    outline: none;
    font-size: 20px;
    height: 80px;
    width: 506px;
    border: 1px solid #a01212;
    border-radius: 50px;
}
.pesquisar-icon-footer{
    position: absolute;
    left: 1770px;
    top: 80px;
}

.footerDwn{
    
    text-align: center;
    background-color: #519B84;
    width: 100vw;
    height: 70px;
}
.footerDwn>h1{
    color: white;
    font-weight: 300;
    font-size: 1.5em;

}

.btnVoltar{
    left: 2170px;
    top: 190px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #D5B484;
    border-radius: 100%;
}





.containerCarousel2{
    display: flex;
    position: absolute;
    top:1000px;
    left: 632px;
    z-index: 5;
}


@media (max-width: 1920px) {
    header{
        position: absolute;
        top: 1px;
        z-index: 2;
    }
    .busca{
       display: flex;
       flex-direction: column;
       position: absolute;
       font-size: 1rem;
       border-radius: 10PX;
       top: 110px;
       left: 670px;
       background-color: rgb(255, 255, 255);
       width: 600px;
       text-align: center;
  
    }

    .busca li{
        padding-top: 10px;
        z-index: 5;
    }

    navigation {
        display: none;
    }
    .carrossel{

        display: flex;
        position: relative;
        right:12px;
       top: 300px;
       padding: 50px;
        
    }

    
    .material-symbols-outlined{
      
        z-index: -1;
    }
    .logoPlanty{
        position: absolute;
        left: 140px;
        
    }

    .inputPesquisar{
        position: absolute;
        left:640px;
    }
    .loginCadastro{
        right: 140px;
    }

    .tituloPlantas{
        position: absolute;
        bottom: 1000px;
        
    }

    .iconPesquisar{
        position: absolute;
        left: 1240px;
     }
 
     .tituloPlantas{
        top: 250px;
        padding: 20px;
        display: flex;
        align-items: center;
    }
    main, section, header, nav{

        padding-left: 20px;
    
       }

       .footerDwn{
        position: absolute;
        top: 220px;
        right: 8px;
        
    }
    .back-to-top{
        position: absolute;
        left: 1710PX;
        top: 170px;
    }

    footer{
        left: 5px;
    }
    

}
@media (max-width: 1600px) {
    header{
        position: absolute;
        top: 1px;
        z-index: 2;
    }
    .busca{
       display: flex;
       flex-direction: column;
       position: absolute;
       font-size: 1rem;
       border-radius: 10PX;
       top: 120px;
       left: 505px;
       background-color: rgb(255, 255, 255);
       width: 600px;
       text-align: center;
  
    }

    .busca li{
        padding-top: 10px;
        z-index: 5;
    }

    .logoPlanty{
        position: absolute;
        left: 110px;
        top: 35px;
        
    }
    .carrossel{

        display: flex;
        position: relative;
        right:22px;
       top: 300px;
       padding: 50px;
        
    }


    .inputPesquisar{
        position: absolute;
        top: 60px;
        left:470px;
    }
    .loginCadastro{
        right: 150px;
        top: 50px;
    }

    .tituloPlantas{
        position: absolute;
        bottom: 1000px;
        
    }

    .iconPesquisar{
        position: absolute;
        left: 1070px;
        top: 55px;
     }
 
     .tituloPlantas{
        top: 250px;
        padding: 20px;
        display: flex;
        align-items: center;
    }
    main, section, header, nav{

        padding-left: 20px;
    
       }

       .footerDwn{
        position: absolute;
        top: 220px;
        right: 8px;
        
    }
    .back-to-top{
        position: absolute;
        left: 1410PX;
        top: 170px;
    }

   

}
@media (max-width: 1440px) {
    header{
        position: absolute;
        top: 1px;
        z-index: 2;
    }
    .busca{
       display: flex;
       flex-direction: column;
       position: absolute;
       font-size: 1rem;
       border-radius: 10PX;
       top: 120px;
       left: 470px;
       background-color: rgb(255, 255, 255);
       width: 600px;
       text-align: center;
  
    }

    .busca li{
        padding-top: 10px;
        z-index: 5;
    }

    .logoPlanty{
        position: absolute;
        left: 70px;
        
    }
    .carrossel{

        display: flex;
        position: relative;
        right:22px;
       top: 300px;
       padding: 50px;
        
    }

    .loginCadastro{
        right: 100px;
    }

    .iconPesquisar{
        position: absolute;
        left: 960px;
     }
 
     .tituloPlantas{
        top: 250px;
        padding: 20px;
        display: flex;
        align-items: center;
    }

    .inputPesquisar{
        width: 600px;
    }
    main, section, header, nav{

        padding-left: 20px;
    
       }



       .containerCarousel2{
        display: none;
        position: absolute;
        left: 150px;

    }

   
    .containerCarousel2{
        display: none;
        position: absolute;
        left: 118px;

    }

    .back-to-top{
        position: absolute;
        left: 1210PX;
        top: 170px;
    }


 }
@media (max-width: 1366px) {
    header{
        position: absolute;
        top: 1px;
        z-index: 2;
    }
    .busca{
       display: flex;
       flex-direction: column;
       position: absolute;
       font-size: 1rem;
       border-radius: 10PX;
       top: 120px;
       left: 400px;
       background-color: rgb(255, 255, 255);
       width: 600px;
       text-align: center;
  
    }

    .busca li{
        padding-top: 10px;
        z-index: 5;
    }


    body{
        
      width: 100vh;
    }
    .carrossel{

        display: flex;
        position: relative;
        right:30px;
       top: 300px;
       padding: 50px;
        
    }


    header{
        width: 100%;
        padding-left: 30px;
    }
    
    .logoPlanty{
        position: absolute;
        left: 10px;
        
    }

    .loginCadastro{
        right: 100px;
    }
    .purificar:hover{
        left: 10px;
    }

    nav{
        width: 100%;
        padding-left: 30px;
    }
    .iconPesquisar{
       position: absolute;
       left: 870px;
       bottom: 100px;
    }

    .tituloPlantas{
        top: 250px;
        right: 600px;
        padding: 20px;
        display: flex;
        align-items: center;
    }

    .inputPesquisar{
        width: 500px;
    }
    

    .containerCarousel2{
        display: none;
        position: absolute;
        top: 380px;
        left: 210px;
        

    }

   .setas{
    position: absolute;
    left: 200px;
   }

   .setaLeft{
    position: absolute;
    left: 1000px;
   }
   main{
    height:2600px ;
   }

   main, section{

    padding-left: 20px;

   }

   .post{
 
    width: 1000px;
  
}

.tituloPost{
   
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 34px;
}

.footerUp{
    display: flex;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right:8px;
    height: 150px;
    top: 70px;
   

}
.imgFooter{
    display: flex;
    position: relative;
    left: 70px;
}

.footerDwn{
    position: absolute;
    top: 220px;
    right: 8px;
    
}
.inptFooter{
    display: flex;
    position: relative;
    right: 70px;
    height: 60px;

}

.btnVoltar{
 display: none;
}

.pesquisar-icon-footer{
    display: none;
}

    

    


 }
@media (max-width: 1024px) {
    header{
        position: absolute;
        top: 1px;
        z-index: 2;
    }
    .busca{
       display: flex;
       flex-direction: column;
       position: absolute;
       font-size: 1rem;
       border-radius: 10PX;
       top: 120px;
       left: 320px;
       background-color: rgb(255, 255, 255);
       width: 400px;
       text-align: center;
  
    }

    .busca li{
        padding-top: 10px;
        z-index: 5;
    }


    body{
      width: 100vw;
    }

    .carrossel{

        display: flex;
        position: relative;
        right:32px;
       top: 300px;
       padding: 50px;
        
    }


    .iconPesquisar{
        position: absolute;
        left: 580px;
        top: 54px;
    }



  
    
    .logoPlanty{
        position: absolute;
        top: 30px;
        left: 30px;
        
    }



    .tituloPlantas{
        top: 250px;
        right: 420px;
        padding: 20px;
      
        
    }

    .inputPesquisar{
        position: absolute; 
        left: 370px;
        width: 300px;
    }
    
    .planta4{
        display: none;
    }

    .containerCarousel2{
        display: none;
        position: absolute;
        top: 380px;
        left: 310px;

 }

.btn_backToTop{
    position: relative;
    right: 300px;
}

}
 @media (max-width: 768px) {
    header{
        position: absolute;
        top: 1px;
        z-index: 2;
    }
    .busca{
       display: flex;
       flex-direction: column;
       position: absolute;
       font-size: 1rem;
       border-radius: 10PX;
       top: 140px;
       left: 200px;
       background-color: rgb(255, 255, 255);
       width: 400px;
       text-align: center;
       z-index: -1;
  
    }

    .busca li{
        padding-top: 10px;
        z-index: 2;
    }

    body{
      width: 100vw;
    }
    .carrossel{

        display: flex;
        position: relative;
        right:22px;
       top: 300px;
       padding: 50px;
        
    }

    nav{
        display: none;
    }

    .iconPesquisar{
        position: absolute;
        left: 500px;
        top: 87px;
    }

    .loginCadastro{
        display: none;
    }
    .material-symbols-outlined{
        position: absolute;
        left: 700px;
    }



  .img_logo_planty{
    position: absolute;
    width: 200px;
  }
    
    .logoPlanty{
        position: absolute;
        top: 1px;
        left: 170px;
        
    }



    .tituloPlantas{
        top: 250px;
        right:280px;
        padding: 20px;
        
    }

    .inputPesquisar{
        position: absolute; 
        left: 202px;
        top: 90px;
        width: 390px;
    }
    
    .planta4, .planta3{
        display: none;
    }

    .containerCarousel2{
        display: none;
        position: absolute;
        top: 380px;
        left: 310px;

 }




 .span_clone{
    position: absolute;
    width: 40px;
    left: 230px;
}

.material-symbols-outlined{
    color: #519B84;
    position: absolute;
    left: 540px;
    top: 40px;
}
.btn_backToTop{
    position:relative;
   right:600px;

}
.btn_fechar{
    position: absolute;
    top: -115px;
    left: 355px;
    color: #519B84;
   
}

navigation{
    
    display: none;
    top: 156px;
    left: 170px;
    position: absolute;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    width:420px ;
    height: 340px;
    background-color: #ffffff;
}
navigation > a > h3{
    color: #000000;
    font-weight: 400;

}

 }

@media (max-width: 425px) {
    header{
        position: absolute;
        top: 1px;
        z-index: 2;
    }
    .busca{
       display: flex;
       flex-direction: column;
       position: absolute;
       font-size: 1rem;
       border-radius: 10PX;
       top: 150px;
       left: 100px;
       background-color: #F0F0F0;
       width: 250px;
       text-align: center;
  
    }

    .busca li{
        padding-top: 10px;
        z-index: 5;
    }

    
    body{
      width: 100vw;
    }

    nav{
        display: none;
    }

    .iconPesquisar{
        position: absolute;
        left: 320px;
        top: 87px;
    }

    .loginCadastro{
        display: none;
    }
  
.material-symbols-outlined{
    position: absolute;
    left: 360px;
    top: 40px;
    color: #519B84;
}



  .img_logo_planty{
    position: absolute;
    width: 200px;
  }
    
    .logoPlanty{
        position: absolute;
        top: 1px;
        left: 10px;
        
    }



    .tituloPlantas{
        top: 250px;
        right: 110px;
        padding: 20px;
      
        
    }

    .inputPesquisar{
        position: absolute; 
        left: 28px;
        top: 90px;
        width: 390px;
    }
    
    .planta4, .planta3, .planta1{
        display: none;
    }

    .containerCarousel2{
        display: none;
        position: absolute;
        top: 380px;
        left: 310px;

 }
 .footerDwn>h1{
       
    font-size: 1.1rem;
    font-weight: 600;
 }

 .btn_fechar{
    position: absolute;
    top: -109px;
    left: 345px;
    color: #519B84;
   
   
}

navigation{
    padding-top: 20px;
   display: none;
   font-size: 0.9rem;
    top: 150px;
    left: 0px;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    width:420px ;
    height: 340px;
    background-color: #ffffff;
}
navigation > a > h3{
    color: #000000;
    font-weight: 400;

}





 .span_clone{
    position: absolute;
    width: 40px;
    left: 230px;
}

.btn_backToTop{
    
    position:relative;
   right:900px;

}

 }





